<% provide(:page_title, "About") %>

<div class="content-card">
	<h1>About this App</h1>
	<p>
		This is the sample app following a
		<%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org" %>
		and it's
		<%= link_to "according Book", "http://railstutorial.org/book" %>
	</p>
</div>