<% provide(:page_title, "Contact") %>

<div class="content-card">
	<h1>Contact information</h1>
	<p>Find more info on the Ruby on Rails Tutorial <%= link_to "Contact Page", "http://railstutorial.org/contact" %></p>
</div>