@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100;
	margin-top: 45px;
	@include box_sizing;
}

body {
	padding-top: 1rem;
	margin: auto;
	width: 90%;
}

.header-card {
	margin: auto;
	margin-bottom: 2rem;
	.navbar {
		border-radius: 10px;
	}
}

#navbar-brand {
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
	margin-left: 10px;
}

.content-container {
	width: 95%;
	margin: auto;
}

.content-card {
	background: #D4D4D4;
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 1rem;
}

.center {
	text-align: center;
}

input, textarea, select, .uneditable-input {
	border: 3px solid #bbb;
	width: 100%;
	margin-bottom: 30px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	a {
		color: #555;
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}